.form_wrapper {
justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30vw;
  max-width: 480px;
  min-width: 220px;
  box-sizing: border-box;
  padding: 3vw 1vw;
  color: $color-yellow;
  letter-spacing: 1px;
}
.header-form {
margin: 0 0 1vw 3vw;
}
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1vw;
  }

.gender_row {
  display: flex;
  margin: 2vmin;
  gap: 2vmin;
  span:hover {
    border: 2px solid $color-blue;
    width: 3px;
    height: 5px;
    border-radius: 50px;
  }
}
.input {
  max-width: 200px;
 border-radius: 10px;
  margin: 10px 1vw;

  &:hover {
    border: 3px solid $color-blue;
  margin: 9px 1vw;
  }
}
.input_radio {
  &:hover {
    border: 3px solid $color-blue;
  }
}
.btn-submit {
margin-top: 1vw;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: $color-purple;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1.5px;
  &:hover {
    cursor: pointer;
    background-color: $color-blue;
  }
  &:active {
    background-color: white;
  }
}

// RESULT

.error {
  background-color: red;
  border-radius: 15px;
  border: 2px solid white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  color: white;
  width: 30vw;
}
  .result {

    width: 30vw;
  padding: 1vw;
    border-radius: 10px;
    box-shadow: 13px 13px 29px -18px rgba(0, 0, 0, 1);
  }
  .result--3 {
    background-color: crimson;
  }
.result--2 {
  background-color: darkorange;
}
.result--1 {
  background-color: $color-yellow;

}
.result-0 {
  background-color: $color-green;
}
.result-1 {
  background-color: $color-yellow;
}
.result-2 {
  background-color: darkorange;
}
.result-3 {
  background-color: crimson;
}
.result-4 {
  background-color: crimson;
}

@media(max-width: 1130px) {
  .form_wrapper {
    width: 340px;
  }
  .result {
    width: 339px;
  }
}
@media(max-width: 390px) {
  .form_wrapper {
    width: 87vw;
  }
  .result {
    box-sizing: border-box;
    width: 87vw;
  }
}


