
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

    .gender_row {
      display: flex;
     margin: 2vmin;
      gap: 2vmin;
    }
.error {
  background-color: red;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  color: white;

  span {
    font-size: 30px;
  }
}