$color-blue: rgb(102,205,170);
$color-yellow: rgb(251,215,1);
$color-purple: rgb(199,21,133);
$color-green: #9fcb22;

body {
  margin: 0 auto;
  min-width: 200px;
  background-image: url("./background.jpg");
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#root::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.container {
  margin: 7vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;

}
.error_404 {
  margin: 0 auto;
  color: crimson;
}


