
.error {
  background-color: red;
  border-radius: 15px;
  border: 2px solid white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  color: white;
  width: 30vw;
}
.result {
  width: 30vw;
  padding: 1vw;
  border-radius: 10px;
  box-shadow: 13px 13px 29px -18px rgba(0, 0, 0, 1);
}
.result-header {
  padding-bottom: 1vw;
  font-size: 110%;
}
.result-text {
  text-align: justify;
}
.result--3 {
  background-color: crimson;
}
.result--2 {
  background-color: darkorange;
}
.result--1 {
  background-color: $color-yellow;
}
.result-0 {
  background-color: $color-green;
}
.result-1 {
  background-color: $color-yellow;
}
.result-2 {
  background-color: darkorange;
}
.result-3 {
  background-color: crimson;
}
.result-4 {
  background-color: crimson;
}
.result-PPM {
  padding: 1.5vw 0;
  text-align: center;
  font-size: 110%;
  background-color: $color-blue;
}
.result-CPM {
  padding: 1.5vw 0;
  text-align: center;
  font-size: 110%;
  background-color: $color-yellow;
}
.btn-api-CPM {
  margin: 2vw 4vw;
 font-weight: bold;
  letter-spacing: 1px;
  background-image: linear-gradient(45deg, white, pink, orange, yellow, white);
  padding: 5px 10px;
  border-radius: 30px;
  border: 2px solid $color-purple;
}
.btn-api-PPM {
  margin: 2vw 4vw;
  font-weight: bold;
  letter-spacing: 1px;
  background-image: linear-gradient(20deg, white 70%, $color-yellow 30%);
  padding: 5px 10px;
  border-radius: 30px;
  border:2px solid lightgrey;
  &:hover {
    cursor: pointer;
    border: 2px solid $color-blue;


  }
}

.list {
line-height: 1.1;
  margin-left: 2vw;
}
.article {
  display: flex;
  width: 35vw;
  margin-top: 1vw;
}

.api-container {

  display: flex;
  flex-direction: column;
  width: calc(35vw - 200px);
  justify-content: space-between;
  font-family: "Lucida Sans", "Lucida", sans-serif;
  padding: 0 1vw 0 0;
}
.api-header {
  font-size: 110%;
}

.image-small {
  width: 220px;
  height: auto;
 border: 1px solid black;
}
.api-text {

}
.api-link {
  color: black;
  font-style: oblique;
  font-weight: bold;
  font-size: 90%;
  &:hover {
    color: $color-purple;
  }
}
@media(max-width: 1260px) {
  .image-small {
    width: 17.4vw;
  }
}
@media(max-width: 1130px) {
  .result {
    width: 339px;
  }
  .api-container {
    width: 339px;
  }
}
@media(max-width: 965px) {
  .article {
    width: 339px;
  }
.image-small {
  width: 170px;
}

}
@media(max-width: 750px) {
  .result {
    font-size: 2.35vw;
  }
}
@media(max-width: 695px) {
  .result {
    padding: 10px 1vw;
    font-size: 16px;
  }
}
@media(max-width: 390px) {
  .result {
    box-sizing: border-box;
    width: 87vw;
  }
  .btn-api {
    margin-top: 7.8px;
  }
  .article {
    width: 87vw;
  }
  .image-small {
    width: 44vw;
  }
  .api-header {
    font-size: 4.5vw;
  }
  .api-text {
    font-size: 4.1vw;
  }
}
@media (max-width: 355px) {
  .article {
    flex-direction: column;
align-items: center;
  }
  .api-container {
    width: 87vw;
  }
  .api-header {
    font-size: 16px;
    text-align: center;
  }
  .api-text {
    text-align: center;
    font-size: 14.5px;
    margin: 0.5vw 0;
  }
  .api-link {

    text-align: center;
    margin-bottom: 2vw;
  }
  .image-small {
    width: 158px;
  }
}



